* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: auto;
}

#hu {
    color: chartreuse;
}

#navtop {
    height: 100px;
    width: 100% !important;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    transition: 0.2s;
    z-index: 2000;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}


.logo {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #fff !important;
    text-decoration-color:chartreuse;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
}

    .logo a {
        color: white;
        text-align: center;
        padding: 36px 45px;
        text-decoration:none;
    }



.menu_strony {
    display: flex;
    align-items: center;
}

    .menu_strony ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu_strony li {
    }

    .menu_strony ul li a {
        color: white;
        text-align: center;
        padding: 36px 70px;
        text-decoration: none;
    }

        .menu_strony ul li a:hover, .active {
            background-color: #111;
            color: chartreuse;
        }

.slimScrollBar {
    background: red !important;
    opacity: 1 !important;
    z-index: 999 !important;
}

header {
    height: 1220px;
    width: 100%;
    background-color: aquamarine;
}

main {
    margin: 0 100px 0 100px;
    font-size: 30px;
    color: white;
}

.wysok {
    height: 1220px;
}

#info {
    background-color: aquamarine;
    border-top: 2px solid black;
}

.grid-info {
    display: grid;
    grid-template-columns: 50% 50%;
}
/*****************************/
/*.grid-skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 70%;
    margin: 0 10%;
    grid-row-gap: 5%;
}*/
.title-skills {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}
.flex-wrapp {
    display: flex;
    margin: 0 10%;
    height: 75%;
    width: auto;
    background-color: black;
    position: relative;
    padding: 50px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.item {
    position: absolute;
    height: 850px;
    width: 800px;
}

.first {
    left: 0;
}

.second {
    left: 10%;
}

.three {
    left: 20%;
}

.four {
    left: 30%;
}

.five {
    left: 40%;
}

.first, .second, .three, .four, .five {
    box-shadow: -1rem 0 3rem #000;
    top: 20px;
    border-radius: 16px;
    transition: .2s;
    background-color: #17141d;
}

.item:hover {
    /*top: -1px;*/
    /*transform: scaleX(2);*/
    -webkit-transform: translate(0,-1rem);
    transform: translate(0,-1rem);
    
}
    /*.item:hover .item > div:not(:hover){
    right:-2px;
}*/
    .item:hover ~ .item {
        -webkit-transform: translateX(650px);
        transform: translateX(650px)
    }

/*.grid-skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 70%;
    margin: 0 10%;
    grid-row-gap: 5%;
}

.frontend-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    grid-column-gap: 5%;
}

.backend-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    grid-column-gap: 15%;
    padding: 0 15%;
}

.skills-foto {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    opacity: 0.8;
}*/
/*--------------------------------------*/


.info-wrap {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
}

.info-wrap-content {
    width: 100%;
    height: 100%;
}

.title-info, .title-projects {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /*color: white;*/
    width: 100%;
    /*border: 1px solid aquamarine;*/
}

    .title-info > h2 {
        text-align: center;
        /*color: white;*/
    }


    .title-skills, .title-projects > h2 {
        text-align: center;
        color: white;
    }

.info-text {
    width: 100%;
    height: 100%;
    padding: 10px;
}

    .info-text > p {
        /*color:white;*/
    }

.foto-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.triangle-item {
    width: 0;
    height: 0;
    position: absolute;
}

.left-block, .right-block {
    position: relative;
    height: 100%;
    width: 100%;
}

.info-dekor {
    background-color: aquamarine;
    opacity: 0.2;
    background: aquamarine;
}

.skills-dekor {
    background-color:black;
    opacity: 0.2;
    background: black;
}

.left-down-triangle, .left-down-triangle1, .left-high-triangle, .left-high-triangle1 {
    left: 0;
}

.left-down-triangle, .left-down-triangle1, .right-down-triangle, .right-down-triangle1 {
    bottom: 0;
}

.right-down-triangle, .right-down-triangle1, .right-high-triangle, .right-high-triangle1 {
    right: 0;
}

.left-high-triangle, .left-high-triangle1, .right-high-triangle, .right-high-triangle1 {
    top: 0;
}

.info-dekor-triangle {
    border-bottom: 245px solid aquamarine;
}

.skills-dekor-triangle {
    border-bottom: 245px solid black;
}

/*trójkąty*/
.left-down-triangle {
    border-bottom: 250px solid chartreuse;
    border-right: 250px solid transparent;
}

.left-down-triangle1 {
    border-right: 245px solid transparent;
}

.left-high-triangle {
    border-top: 250px solid chartreuse;
    border-right: 250px solid transparent;
}

.left-high-triangle1 {
    border-top: 245px solid black;
    border-right: 245px solid transparent;
}

.right-high-triangle {
    border-top: 250px solid chartreuse;
    border-left: 250px solid transparent;
}

.right-high-triangle1 {
    border-top: 245px solid black;
    border-left: 245px solid transparent;
}

.right-down-triangle {
    border-bottom: 250px solid chartreuse;
    border-left: 250px solid transparent;
}

.right-down-triangle1 {
    border-left: 245px solid transparent;
}

.foto {
    margin-left: 25%;
    margin-top: inherit 25%;
}

    .foto > img {
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        border-right: 5px solid chartreuse;
        border-left: 5px solid chartreuse;
        opacity: 0.8;
        border-radius: 50%;
    }

        .foto > img:hover {
            border-bottom: 5px solid chartreuse;
            border-top: 5px solid chartreuse;
            border-right: 5px solid black;
            border-left: 5px solid black;
        }

#skills {
    background-color: black;
}

#projects {
    background-color: #a154a1;
    
}

.empty-block {
    height: 100%;
    width: 100%;
}

.projects-area {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5%;
    height: 60%;
    width: 100%;
    margin-bottom: 20%;
}



footer {
    height: 560px;
    width: 100%;
    background-color: black;
}


#fullpage {
    z-index: -1;
}

.block-project {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    transition-duration: 1s;
    border: 5px solid black;
}

    /*.block-project:hover {
        height: 100%;
        top: -4px;
        left: -4px;
        box-shadow: 20px 20px 15px 5px #2e2e2e;
        border: 2px solid chartreuse;
        transition-duration: 1s;
    }*/

.block-project:hover {
        height: 100%;
        top: -20px;
        box-shadow: 0 20px 15px 5px #2e2e2e;
        border: 2px solid chartreuse;
        transition-duration: 1s;
    }

.block-project-photo {
    height: 100%;
    width: 100%;
}

    /*.block-project-photo:hover{
        opacity:1;
    }*/

.block-project-opis {
    height: 100%;
    width: 100%;
    padding: 10px;
    color: #b8abab;
    background-color: black;
    text-align: center;
    font-size: 25px;
    position: relative;
    border-radius: 0 0 25px 25px;
}
.github-icon{
    height: 50px;
    width:50px;
    background-color:white;
    border-radius: 25px;
    bottom:0;
}

.block-project-opis > h4 {
    color: white;
    font-size: 36px;
}

.photo-back {
    opacity: 0.7;
    background-color: black;
    border-radius: 25px 25px 0 0;
}


.bigger-icon, .photo-back{
    position:absolute;
    height:50%;
    width:100%;
}
.bigger-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity:0.2;
}

.block-project-photo:hover .bigger-icon {
    opacity: 1;
    cursor:pointer;
}
.photo-back:hover{
    cursor:pointer;
}

/* увеличенная картинка */
#magnify {
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 1800px;
    height: auto;
    z-index: 9999;
}

    #magnify img {
        width: 100%;
        border-radius:16px;
    }
        #magnify img::selection {
            background: transparent;
        }

        #magnify img::-moz-selection {
            background: transparent;
        }

/* затемняющий фон */
#wrap-overlay {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9990;
}
#overlay {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position:relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}

