* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: auto;
}

#hu {
    color: chartreuse;
}

#navtop {
    height: 100px;
    width: 100% !important;
    overflow: hidden;
    background-color: black;
    /*position: -webkit-sticky;*/ /* Safari */
    position: fixed;
    top: 0;
    transition: 0.2s;
    z-index: 2000;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}


.logo {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
}

    .logo a {
        color: white;
        text-align: center;
        padding: 36px 45px;
        text-decoration: none;
    }

.menu_strony {
    display: flex;
    align-items: center;
}

    .menu_strony ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu_strony li {
    }

    .menu_strony ul li a {
        color: white;
        text-align: center;
        padding: 36px 70px;
        text-decoration: none;
    }

        .menu_strony ul li a:hover {
            background-color: #111;
            color: chartreuse;
        }

.slimScrollBar {
    background: red !important;
    opacity: 1 !important;
    z-index: 999 !important;
}

header {
    height: 1220px;
    width: 100%;
    background-color: aquamarine;
}

main {
    margin: 0 100px 0 100px;
    font-size: 30px;
    color: white;
}

.wysok {
    height: 1220px;
    padding-top: 100px;
}

#info {
    background-color: aquamarine;
    border-top: 2px solid black;
}

.grid-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-wrap {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
}

.info-wrap-content {
    width: 100%;
    height: 100%;
}

.title-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /*color: white;*/
    width: 100%;
    border: 1px solid aquamarine;
}

    .title-info > h2 {
        text-align: center;
        /*color: white;*/
    }

.info-text {
    width: 100%;
    height: 100%;
    padding: 10px;
}

    .info-text > p {
        /*color:white;*/
    }

.foto-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.triangle-item {
    width: 0;
    height: 0;
    position: absolute;
}

.left-block {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
/*.left-high-triangle {
    border-top: 200px solid black;
    border-right: 200px solid transparent;
}*/
.left-down-triangle {
    border-bottom: 200px solid black;
    border-right: 200px solid transparent;
    bottom: 0;
    left: 0;
}

.right-block {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
/*.right-high-triangle {
    border-top: 200px solid black;
    border-left: 200px solid transparent;
    top:0;
    right:0;
}*/

.right-down-triangle {
    border-bottom: 200px solid black;
    border-left: 200px solid transparent;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top left, purple, crimson, orangered, gold);
}

.right-down-triangle1 {
    border-bottom: 150px solid chartreuse;
    border-left: 150px solid transparent;
    bottom: 0;
    right: 0;
}
.right-down-triangle2 {
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
    bottom: 0;
    right: 0;
}
.right-down-triangle3 {
    background-color:chartreuse;
    height:40px;
    width:40px;
    bottom: 0;
    right: 0;
}

.foto {
    margin-left: 25%;
    margin-top: inherit 25%;
}

    .foto > img {
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        border-right: 5px solid chartreuse;
        border-left: 5px solid chartreuse;
        opacity: 0.8;
        border-radius: 50%;
    }

        .foto > img:hover {
            border-bottom: 5px solid chartreuse;
            border-top: 5px solid chartreuse;
            border-right: 5px solid black;
            border-left: 5px solid black;
        }

#skills {
    background-color: darkslategray;
}

#projects {
    background-color: brown;
}

footer {
    height: 560px;
    width: 100%;
    background-color: black;
}

.circle:before {
    content: ' \25CF';
    font-size: 200px;
}

#fullpage {
    z-index: -1;
}
