@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HTML5</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site1.css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bigger-photo.js"></script>

    @*<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
        <script src="~/Scripts/jquery.fullPage.min.js"></script>*@




</head>
<body>
    <div class="image__wrapper">
        <img src="https://codernote.ru/files/keyboard.jpg" class="minimized" alt="клик для увеличения" />
    </div>
</body>
</html>



<script>
    $(function () {
        $('.minimized').click(function (event) {
            var i_path = $(this).attr('src');
            $('body').append('<div id="overlay"></div><div id="magnify"><img src="' + i_path + '"><div id="close-popup"><i></i></div></div>');
            $('#magnify').css({
                left: ($(document).width() - $('#magnify').outerWidth()) / 2,
                // top: ($(document).height() - $('#magnify').outerHeight())/2 upd: 24.10.2016
                top: ($(window).height() - $('#magnify').outerHeight()) / 2
            });
            $('#overlay, #magnify').fadeIn('fast');

        });

        $('body').on('click', '#close-popup, #overlay', function (event) {
            event.preventDefault();

            $('#overlay, #magnify').fadeOut('fast', function () {
                $('#close-popup, #magnify, #overlay').remove();
            });
        });
    });

</script>