@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HTML5</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site1.css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/bigger-photo.js"></script>*@

    @*<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
        <script src="~/Scripts/jquery.fullPage.min.js"></script>*@




</head>
<body>
    <div class="image__wrapper">
        <img src="https://codernote.ru/files/keyboard.jpg" class="minimized" alt="клик для увеличения" />
    </div>
</body>
</html>



<script>
    $('.minimized').click(function (event) {

        //attr - bierze wartość atrybutu (link do zdjęcia)
        var i_path = $(this).attr('src');

        //append - wkleja w koniec 'body' kod
        $('body').append('<div id="wrap-overlay"><div id="overlay"></div><div id="magnify"><img src="' + i_path + '"></div></div>');
        
        //fadeIn - wybrane elementy będą niewidoczne fast - szybko
        $('#overlay, #magnify, #wrap-overlay').fadeIn('fast');

    });

    $('body').on('click', ' #overlay, #wrap-overlay', function (event) {
        event.preventDefault();

        $('#overlay, #magnify, #wrap-overlay').fadeOut('fast', function () {
            $(' #magnify, #overlay, #wrap-overlay ').remove();
        });


    });
</script>