@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HTML5</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <nav class="navtop">
        <ul>
            <li><a class="active" href="#info">Info</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <header>
        
    </header>
    <main>
        <div id="info" class="wysok">

        </div>
        <div id="skills" class="wysok">

        </div>
        <div id="projects" class="wysok">

        </div>
    </main>
    <footer id="contact">

    </footer>
</body>
</html>

