@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HTML5</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
        <script src="~/Scripts/jquery.fullPage.min.js"></script>*@




</head>
<body>


    <nav id="navtop">
        <div class="container">

            <div class="logo">
                <a href="#header"><span id="hu">Hu</span>bar</a>
            </div>

            <div class="menu_strony">
                <ul>
                    <li><a href="#info">Info</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo"></div>

        </div>

    </nav>



    <header id="header"></header>



    <div id="info" class="wysok">

        <div class="info-wrap">
            <div class="left-block">

                @*<div class="triangle-item left-high-triangle"></div>*@
                <div class="triangle-item left-down-triangle"></div>

            </div>
            <div class="info-wrap-content">

                <div class="title-info">
                    <h2>Information</h2>
                </div>

                <div class="grid-info">

                    <div class="foto-container">
                        <div class="foto">
                            <img src="~/Content/Images/hubar.png" width=70% height=80% />
                            

                        </div>
                    </div>

                    <div class="info-text">
                        <p>
                            I am 22 years old student of Electrical Engineering at Warsaw University of Technology.
                            I have started my journey with IT and programming in the first year of university.
                            First I started to learn C# thanks to which I have now a solid basics of programming.
                            I've done two desktop application for managing orders files and for calculating energetic parametrs in .NET.
                            Then I decided to educate as a web developer so I moved to HTML and CSS with JavaScript
                            I make my own small projects when got some free time.
                            I also develop my skills by doing various tasks in online platforms such as SoloLearn <br />
                            <br />

                            In addition to computer science, I am also interested in sports and traveling. I have been practicing martial arts for several years and I am trying to be always in good shape. Practicing sports has a good effect on my physical condition as well as my mental condition. One of my hobbies is also urban exploration. All the pictures you can see on this page were taken during one of the exploration of an abandoned place.

                            Whatever I do in my life I want to be the best at it. I am very motivated to constantly develop my skills. My next projects will be successively thrown into the "Projects" section.
                        </p>
                    </div>
                </div>

            </div>
            <div class="right-block">
                @*<div class="triangle-item right-high-triangle"></div>*@
                <div class="triangle-item right-down-triangle"></div>
                <div class="triangle-item right-down-triangle1"></div>
                <div class="triangle-item right-down-triangle2"></div>
                <div class="triangle-item right-down-triangle3"></div>
            </div>
        </div>




    </div>



    <div id="skills" class="wysok">
        <div class="foto">

        </div>
    </div>


    <div id="projects" class="wysok">
        <span class="circle"></span>
    </div>




    <footer id="contact">
        <p>contacts</p>
    </footer>




</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#fullpage').fullpage({
            sectionSelector: '.page',
            scrollOverflow: true
        });
    });


    navtop.onmouseover = function () { mouseFunction() };

    function mouseFunction() {
        if (document.getElementById("navtop").onmouseover) {
            document.getElementById("navtop").style.boxShadow = "0 2px 12px 0 chartreuse";
            document.getElementById("navtop").style.color = "#00FF7F";
        }
    }

    navtop.onmouseout = function () { mouseFunction1() };

    function mouseFunction1() {
        if (document.getElementById("navtop").onmouseout) {
            document.getElementById("navtop").style.boxShadow = null;
        }

    }
</script>