@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HTML5</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/max-min-photo.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
        <script src="~/Scripts/jquery.fullPage.min.js"></script>*@




</head>
<body>


    <nav id="navtop">
        <div class="container">

            <div class="logo">
                <a class="active" href="#header"><span id="hu">Hu</span>bar</a>
            </div>

            <div class="menu_strony">
                <ul>
                    <li><a href="#info">Info</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo"></div>

        </div>

    </nav>



    <header id="header"></header>


    @* 1) Section INFO *@
    <div id="info" class="wysok">

        <div class="info-wrap">
            <div class="left-block info-dekor">
                <img src="~/Content/Images/bok11.jpg" width=100% height=100% />
                @*<div class="triangle-item left-high-triangle"></div>*@

                <div class="triangle-item left-down-triangle"></div>
                <div class="triangle-item left-down-triangle1 info-dekor-triangle"></div>

            </div>
            <div class="info-wrap-content">

                <div class="title-info">
                    <h2>Information</h2>
                </div>

                <div class="grid-info">

                    <div class="foto-container">
                        <div class="foto">
                            <img src="~/Content/Images/hubar.png" width=70% height=80% />


                        </div>
                    </div>

                    <div class="info-text">
                        <p>
                            I am 22 years old student of Electrical Engineering at Warsaw University of Technology.
                            I have started my journey with IT and programming in the first year of university.
                            First I started to learn C# thanks to which I have now a solid basics of programming.
                            I've done two desktop application for managing orders files and for calculating energetic parametrs in .NET.
                            Then I decided to educate as a web developer so I moved to HTML and CSS with JavaScript
                            I make my own small projects when got some free time.
                            I also develop my skills by doing various tasks in online platforms such as Codility <br />
                            <br />

                        </p>
                    </div>
                </div>

            </div>
            <div class="right-block info-dekor">
                <img src="~/Content/Images/bok22.jpg" width=100% height=100% />
                @*<div class="triangle-item right-high-triangle"></div>*@
                <div class="triangle-item right-down-triangle"></div>
                <div class="triangle-item right-down-triangle1 info-dekor-triangle"></div>

            </div>
        </div>




    </div>


    @* 2) Section SKILLS *@
    <div id="skills" class="wysok">
        <div class="info-wrap">

            <div class="left-block skills-dekor">
                <img src="~/Content/Images/bok11.jpg" width=100% height=100% />

                <div class="triangle-item left-high-triangle"></div>
                <div class="triangle-item left-high-triangle1"></div>

                <div class="triangle-item left-down-triangle"></div>
                <div class="triangle-item left-down-triangle1 skills-dekor-triangle"></div>
            </div>

            <div class="info-wrap-content">

                <div class="title-skills">
                    <h2>Skills</h2>
                </div>

                <div class="grid-skills">

                    <div class="frontend-columns">
                        <div class="skills-foto">
                            <img src="~/Content/Images/htmllogo.png" width="100%" height="100%" />
                        </div>
                        <div class="skills-foto">
                            <img src="~/Content/Images/csslogo.png" width="78%" height="78%" />
                        </div>
                        <div class="skills-foto">
                            <img src="~/Content/Images/jslogo.png" width="100%" height="100%" />
                        </div>
                    </div>

                    <div class="backend-columns">
                        <div class="skills-foto">
                            <img src="~/Content/Images/netlogo.png" width="85%" height="100%" />
                        </div>
                        <div class="skills-foto">
                            <img src="~/Content/Images/sqllogo.png" width="85%" height="100%" />
                        </div>
                    </div>




                </div>

            </div>
            <div class="right-block skills-dekor">
                <img src="~/Content/Images/bok22.jpg" width=100% height=100% />

                <div class="triangle-item right-high-triangle"></div>
                <div class="triangle-item right-high-triangle1"></div>

                <div class="triangle-item right-down-triangle"></div>
                <div class="triangle-item right-down-triangle1 skills-dekor-triangle"></div>

            </div>
        </div>
    </div>

    @* 3) Section PROJECTS *@
    <div id="projects" class="wysok">

        <div class="info-wrap">

            <div class="empty-block"></div>

            <div class="info-wrap-content">



                <div class="title-projects">
                    <h2>Projects</h2>
                </div>


                <div class="projects-area">

                    <div class="block-project">
                        <div class="block-project-photo">
                            <div class="bigger-icon">
                                <img src="~/Content/Images/bigger.png" width=15% height=20% />
                            </div>

                            <div class="photo-back">
                                <img src="~/Content/Images/trzeciproject.png" class="minimized" width=100% height=100% style="border-radius: 25px 25px 0 0" />
                            </div>
                        </div>

                        <div class="block-project-opis">
                            <h4>Desktop app</h4>

                            <br />
                            <p>Desktop app napisana w .NET (winforms) dla obliczania współczynników charakterystycznych udarów piorunowych</p>
                            <div class="github-icon">
                                <a href="https://github.com/Hubariev/Portfolio" target="_blank">
                                    <img src="~/Content/Images/github_icon.png" width=100% height=100% />
                                </a>                         
                            </div>
                        </div>
                    </div>

                    <div class="block-project">
                        <div class="block-project-photo">
                            <div class="bigger-icon">
                                <img src="~/Content/Images/bigger.png" width=15% height=20% />
                            </div>

                            <div class="photo-back">
                                <img src="~/Content/Images/drugiproject.png" class="minimized" width=100% height=100% style="border-radius: 25px 25px 0 0" />
                            </div>
                        </div>

                        <div class="block-project-opis">
                            <h4>Desktop app</h4><br />
                            <p>Desktop app napisana w .NET (winforms) dla obliczania współczynników charakterystycznych udarów piorunowych</p>
                        </div>
                    </div>


                    <div class="block-project">
                        <div class=" block-project-photo">

                            <div class="bigger-icon">
                                <img src="~/Content/Images/bigger.png" width=15% height=20% />
                            </div>

                            <div class="photo-back">
                                <img src="~/Content/Images/pierwproj.png" class="minimized" width=100% height=100% style="border-radius: 25px 25px 0 0" />
                            </div>

                        </div>

                        <div class="block-project-opis">
                            <h4>Desktop app</h4><br />
                            <p>Desktop app napisana w .NET (winforms) dla zarządzania plikami zamówień</p>
                        </div>
                    </div>

                </div>

                <div class="empty-block"></div>

            </div>

        </div>

    </div>




    <footer id="contact">
        <p>contacts</p>
    </footer>




</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#fullpage').fullpage({
            sectionSelector: '.page',
            scrollOverflow: true
        });
    });


    navtop.onmouseover = function () { mouseFunction() };

    function mouseFunction() {
        if (document.getElementById("navtop").onmouseover) {
            document.getElementById("navtop").style.boxShadow = "0 2px 12px 0 chartreuse";
            document.getElementById("navtop").style.color = "#00FF7F";
        }
    }

    navtop.onmouseout = function () { mouseFunction1() };

    function mouseFunction1() {
        if (document.getElementById("navtop").onmouseout) {
            document.getElementById("navtop").style.boxShadow = null;
        }

    }


    $('.menu_strony ul li a').on('click', function (event) {
        $(this).parent().find('a').removeClass('active');
        $(this).addClass('active');
    });

    $(window).on('scroll', function () {
        $('.wysok').each(function () {
            if ($(window).scrollTop() >= $(this).position().top) {
                var id = $(this).attr('id');
                $('.menu_strony ul li a').removeClass('active');
                $('.menu_strony ul li a[href=#' + id + ']').addClass('active');
            }
        });
    });

    //$(document).ready(function () {
    //    $('.photo-back').bind('click', function () {
    //        var i = 'Priver';
    //        alert(i);
    //    });
    //});

    //$(function () {
    //    $('button').bind('click', function () {
    //        alert('Привет мир!');
    //    });
    //});


 


</script>